<nav-page>
    <content has-header="true" padding="false">
        <div ng-bind-html="photo" style="width: 100%; height: 200px; position: relative; overflow: hidden; background: #eee;">

        </div>

        <div class="padding">
            <h3>Липсващ капак на шахта</h3>
            <google-map center='map.center' zoom='map.zoom' options='map.options'></google-map>
            адрес: ул. Иван Вазов 2

            <textarea placeholder="Описание (не задължително)"></textarea>

            <a href="#/report-send" class="button button-block button-positive">Изпрати</a>
        </div>
    </content>
</nav-page>