<nav-page id="app-page">
    <content has-header="true" has-footer="true" scroll="false">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Филтрирай">
            </label>
        </div>
        <content has-header="true" scroll="true">
            <div class="list">
                <div class="item item-divider">Транспорт и придвижване</div>
                <a class="item" href="#/new-report-preview">Изоставена кола</a>
                <a class="item" href="#/new-report-preview">Неработещ светофар</a>
                <a class="item" href="#/new-report-preview">Улична дупка</a>
                <a class="item" href="#/new-report-preview">Улично усветление</a>
                <a class="item" href="#/new-report-preview">Повреден пътен знак</a>
                <a class="item" href="#/new-report-preview">Липсващ пътен знак</a>
                <a class="item" href="#/new-report-preview">Погрешен пътен знак</a>
                <a class="item" href="#/new-report-preview">Повредена пешеходна настилка</a>
                <a class="item" href="#/new-report-preview">Липсващи шахти</a>
                <a class="item" href="#/new-report-preview">Неодстъпност за хора с увреждания</a>
                <a class="item" href="#/new-report-preview">Други</a>

                <div class="item item-divider">Градска среда</div>
                <a class="item" href="#/new-report-preview">Говредена пешеходна настилка</a>
                <a class="item" href="#/new-report-preview">Нерегламентирано сметище</a>
                <a class="item" href="#/new-report-preview">Опасна сграда</a>
                <a class="item" href="#/new-report-preview">Неодстъпност за хора с увреждания</a>
                <a class="item" href="#/new-report-preview">Нелегална постройка</a>
                <a class="item" href="#/new-report-preview">Нерегламентирано разпространение на рекламни материали</a>
                <a class="item" href="#/new-report-preview">Графити</a>
                <a class="item" href="#/new-report-preview">Счупени стъкла</a>
                <a class="item" href="#/new-report-preview">Спукана тръба</a>
                <a class="item" href="#/new-report-preview">Опасни електрически кабели</a>
                <a class="item" href="#/new-report-preview">Липсваща шахта</a>
                <a class="item" href="#/new-report-preview">Занемарени зелени площи</a>
                <a class="item" href="#/new-report-preview">Запушени шахти</a>
                <a class="item" href="#/new-report-preview">Други</a>
            </div>
        </content>
    </content>
</nav-page>
