<nav-page>
    <content has-header="false"
             padding="false">

        <h1>Grada.me</h1>

        <h2>Градът ти има нужда от теб.
        Сигнализирай за проблемите
        около теб.</h2>

        <a class="button button-block" href="#/pick-image-source">Facebook</a>

        <button class="button" ng-click="fbLogin()">facebook login</button>
        <br/>
        <button class="button" ng-click="deviceInfo()">device info</button>
        <br/>
        <button class="button" ng-click="getGeoLocation()">geolocation</button>
    </content>
</nav-page>