@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url("../fonts/roboto-light.ttf") format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url("../fonts/roboto-regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url("../fonts/roboto-bold.ttf") format('truetype');
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-attachment: fixed;
    font-family: "Roboto" !important;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}

.hidden {
    display: none;
}

.float-left { 
    float: left;
}

.float-right {
    float: right;
}